/* 화면 중앙쯤 오게 하려고 마진주기 */
body{
  margin: 100px;
}
.profile-group1, .profile-group2{
  /* 그룹도 부유하게 */
  float: left;
  clear:both;
}


.profile-item{
  /* 왼쪽 기준으로 부유하게 */
  float: left;
  width: 64px;
  height: 64px;
  margin: 20px;
}
.profile-item img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.status-online{
  width: 20px;
  height: 20px;
  background-color: #4CFE88;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  display: inline-block;
}
.status-offline{
  width: 20px;
  height: 20px;
  background-color: #DBDBDB;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  display: inline-block;
}
